*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.titlu{

    font-family: 'Roboto', sans-serif;
    padding-top:26px;
    padding-bottom: 47px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: white;
    background-color: #3A72B5;
}
.container{
  
    padding:42px 55px 22px 55px;
    top:196px;
    left: calc(50% - 493px);
    height: 560px;
    width: 986px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    background: #DBDBDB;
}
.card {
    border-radius: 8px;
    background-color: white;
    color: black;
}
.top, 
.container,
.card2,
.card3,
.altreilea-text-2,
.cerc
{
    position: absolute;
}
.card1,
.card2{
    height: 238px;
    width: 419px;
}
.card1{
   padding-top: 98px;
   padding-left: 23px;
}

.card2{
    left: 512px;
    padding-top: 179px;
    padding-left: 87px;
}
.card3{
    top: 302px;
    width: 876px;
    height: 236px;
    padding-bottom: 28px;
    padding-left: 23px;
    padding-top: 29px;
}
.altreilea-text-2{
    top:166px;
}

.cerc{
    top:43px;
    left: 667px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #252F89;
}

